---
import RecipeGrid from '../../components/RecipeGrid.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllCategories, getRecipesByCategory } from '../../lib/microcms';

export async function getStaticPaths() {
  const categories = await getAllCategories();
  return categories.map((category) => ({
    params: { slug: category.slug },
    props: { category },
  }));
}

const { category } = Astro.props;
const recipes = await getRecipesByCategory(category.slug);
---
<BaseLayout title={`${category.name} | recipe book`}>
  <div class="space-y-8">
    <h1 class="text-2xl text-stone-800">
      <span class="text-mustard">{category.name}</span>
    </h1>
    <RecipeGrid recipes={recipes} />
  </div>
</BaseLayout>
