---
import type { Recipe } from '../lib/microcms';
import RecipeCard from './RecipeCard.astro';

interface Props {
  recipes: Recipe[];
}

const { recipes } = Astro.props;
---
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
  {recipes.map((recipe) => <RecipeCard recipe={recipe} />)}
</div>
